<div class="shipments-list">
  <div class="list-header">
    <h2>Shipments</h2>
    <button mat-flat-button color="primary" [routerLink]="['/products',{form:true}]">
      <mat-icon>add</mat-icon>
      Create shipment
    </button>
  </div>
  <mat-spinner class="mat-spinner" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <app-shipment *ngFor="let item of shipments"
                  [item]="item"
                  (updateShipment)="updateShipment(item._id!)"
                  (deleteShipment)="deleteShipment(item._id!)">
    </app-shipment>
    <app-info-bar *ngIf="!shipments?.length" text="Sorry, no shipments found" color="#5F9EA0"></app-info-bar>
  </div>
</div>
