<mat-card class="custom-card">
  <mat-card-content>
    <h2>Shipment form</h2>
    <h4 *ngIf="error" [ngStyle]="{'color': 'maroon'}">{{ error }}</h4>
    <form (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-label>Company name</mat-label>
        <input matInput
               type="text"
               name="companyName"
               [(ngModel)]="companyName"
               id="companyName">
      </mat-form-field>
      <mat-form-field *ngIf="id">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status" name="status" id="status">
          <mat-option *ngFor="let status of statusValues" [value]="status">{{ status }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          name="shipmentDate"
          [(ngModel)]="shipmentDate"
          id="shipmentDate"
          matInput [matDatepicker]="picker" placeholder="Choose a shipment date"
          [matDatepickerFilter]="dateFilter"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <h4 [ngStyle]="{'paddingTop': '15px'}">Products in shipment</h4>
      <p *ngIf="items?.length === 0" [ngStyle]="{'text-align': 'center'}">Add products to shipment</p>
      <div class="product-item" role="listitem" *ngFor="let item of items">
        <div class="product-item-label">
          <p>{{ item.label }}</p>
        </div>
        <div class="product-item-input">
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput
                   type="number"
                   name="quantity"
                   [(ngModel)]="item.quantity"
                   id="quantity">
          </mat-form-field>
        </div>
      </div>
      <div class="buttons">
        <button mat-raised-button type="submit">{{ id ? 'Update shipment' : 'Create shipment' }}</button>
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

