<div class="product-item" *ngIf="item">
  <div class="product-item--image">
    <img [src]="item.imageUrl ? item.imageUrl : 'assets/placeholder.png'" alt="warehouse-item-image">
  </div>
  <div class="product-item--content">
    <span><b>{{ item.label }}</b></span>
    <span>{{ item.description }}</span>
  </div>
  <span>{{ item.quantity }}x</span>
  <span>{{ item.price | currency:'EUR' }} per {{item.unit}}</span>
  <button *ngIf="showAddButton" class="product-item--button" (click)="addToShipment.emit()">Add to Shipment</button>
</div>
